services:
  avarr:
    build:
      context: .
      dockerfile: Dockerfile
    image: avarr-app:latest
    container_name: avarr
    environment:
      AVARR_DOWNLOAD_ROOT: /app/downloads
      AVARR_DATABASE_URL: sqlite:///./storage/storage.db
      AVARR_ALLOWED_SOURCE_DOMAINS:
      AVARR_BASE_EXTERNAL_URL:
      AVARR_TELEGRAM_BOT_TOKEN:
      AVARR_TELEGRAM_WEBHOOK_SECRET:
      AVARR_NOTIFIER_MIN_PERCENT_STEP: 10
    ports:
      - "${AVARR_HOST_PORT:-3015}:${AVARR_INTERNAL_PORT:-8000}"
    volumes:
      - downloads_data:/app/downloads
      - storage_data:/app/api/storage
    restart: unless-stopped
    # You may delete the section below
    labels:
      homepage.group: "App"
      homepage.name: "Avarr"
      homepage.icon: "1337x"
      homepage.href: "http://10.0.0.11:3015"

volumes:
  downloads_data:
  storage_data:
